[run]
omit =
    tests/*
    setup.py
    xphyle/_version.py
    versioneer.py
    *site-packages/*

[report]
exclude_lines =
    pragma: no cover
    pragma: no-cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
