*.pyc
MANIFEST
build/
dist/
.coverage
*~
.tox
galaxy/package/
.pydevproject
.project
.settings
atropos/**/_*.c
atropos/**/*.so
doc/_build
*.pyo
.idea/
tests/testtmp
virtualenv
*.egg-info
*.c
*.so
paper/software/bin
paper/software/build
paper/software/doc
paper/scripts/atropos
paper/scripts/skewer
paper/scripts/seqpurge
paper/scripts/results*
paper/scripts/*commands_t*
paper/scripts/run_t*
paper/scripts/real*
paper/data/real/
.contaminants
.DS_Store
.adapters
paper/data/rna/
paper/data/wgbs/
.cache
*.gtf
hg3*.fa*
**/star-index/index/*.txt
**/star-index/index/*.tab
**/star-index/index/Genome
**/star-index/index/SA
**/star-index/index/SAindex
.nextflow*
**/work/
.vscode*
paper/workflow/results
*.ipynb
*.tar
.pytest_cache/
venv/
.eggs