*.pyc
MANIFEST
build/
dist/
.coverage
*~
.tox
galaxy/package/
.pydevproject
.project
.settings
cutadapt/_*.c
cutadapt/*.so
doc/_build
*.pyo
.idea/
tests/testtmp
virtualenv
*.egg-info
*.c
*.so
paper/software/bin
paper/software/build
paper/software/doc
paper/scripts/atropos
paper/scripts/skewer
paper/scripts/seqpurge
paper/scripts/results
