# documentation
include README.rst
include CHANGES.md
include CITATION
include LICENSE.txt
include doc/*.rst
include doc/conf.py
include doc/Makefile
include atropos/*.pyx
include atropos/_align.c
include atropos/_qualtrim.c
include atropos/_seqio.c
include bin/_preamble.py
include tests/test*.py
include tests/utils.py
graft tests/data
graft tests/cut
include versioneer.py
include atropos/_version.py
