# documentation
include README.rst
include CHANGES.md
include CITATION
include LICENSE.txt
include doc/*.rst
include doc/conf.py
include doc/Makefile
include atropos/**/*.pyx
include atropos/align/_align.c
include atropos/commands/trim/_qualtrim.c
include atropos/io/_seqio.c
include atropos/adapters/*.fa
include atropos/report/templates/*
include bin/_preamble.py
include tests/test*.py
include tests/utils.py
graft tests/data
graft tests/cut
include versioneer.py
include atropos/_version.py
