# documentation
include README.md
include CHANGES.md
include CITATION
include LICENSE.txt
include doc/*.rst
include doc/conf.py
include doc/Makefile
include atropos/**/*.pyx
include atropos/aligner/_aligner.c
include atropos/commands/trim/_qualtrim.c
include atropos/io/readers/_readers.c
include atropos/io/sequence/_sequence.c
include resources/*
include tests/test*.py
include tests/utils.py
graft tests/data/input
graft tests/data/expected