process {
    cache = true
    
    $Atropos {
        ext {
            compressionArg = { (compression == "nowriter" ? "--no-writer-process" : "--compression ${compression}") }
        }
    }
    $BwamethAlign {
        ext {
            readGroup = { "@RG\tID:${name}\tSM:${name}\tLB:${name}\tPL:ILLUMINA" }
        }
    }
}

profiles {
    local {
        params {
            threadCounts = [ 4 ]
            alignThreads = 4
            resultsDir = "results"
        }
        
        executor {
            name = "local"
            cpus = 4
        }
        
        docker {
            enabled = true
        }
    }

    cluster {
        process {
            beforeScript = 'echo "$SLURM_JOB_ID" > .jobid ; module load singularity ; cd ${PWD/\\/spin1/}'
        }
        
        params {
            threadCounts = [ 4, 8, 16 ]
            alignThreads = 16
            resultsDir = "$HOME/results"
            containerPrefix = "/scratch/"
            containerSuffix = ".img"
            summarizeJobScript = "summarize_slurm_job.sh"
            parseJobScript = "parse_slurm_job.py"
            jobMemoryMetric = "MaxVMSize"
        }

        executor {
            name = 'slurm'
            queueSize = 1
        }

        singularity {
            enabled = true
            runOptions = "-B /scratch:/scratch"
        }
    }
}

