profiles {
    local {
        params {
            threads = [ 4 ]
        }

        process {
            executor = 'local'
        }

        docker {
            enabled = true
            runOptions = "--volumes-from ${params.dataContainer}"
        }
    }

    cluster {
        params {
            threads = [ 4, 8, 16 ]
            dataDir = '/Users/didionjp/Downloads'
        }

        process {
            executor = 'sge'
        }

        singularity {
            enabled = true
            runOptions = "-H $(pwd}"
        }
    }
}